.intro {
  text-align: center;
  padding: 50px 20px;
}

.circle {
  width: 150px;
  height: 150px;
  background-color: #f4a261;
  border-radius: 50%;
  margin: 0 auto;
}
.profile-pic {
  width: 150px;
  height: 150px;
  margin: 0 auto 20px;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid #e76f51;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


h1 {
  font-size: 2.5em;
  margin: 20px 0;
}

h1 span {
  color: #e76f51;
}

p {
  font-size: 1.2em;
  color: #333;
  max-width: 600px;
  margin: 0 auto 20px;
}

.get-started {
  background-color: #e76f51;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer p {
  margin: 0;
}

footer a {
  color: #e76f51;
  text-decoration: none;
  font-weight: bold;
}